<h3>{{title}}</h3>
<img src="{{image_events_main}}"</img>
<div class="event-meta">
    <div>Når: {{dateFormat event_start "D. MMMM"}}</div>
    <div>Hvor: {{location}}</div>
</div>
<p>{{ingress}}</p>
