<div class="event">
    <h3>{{title}}</h3>
    <div class="event-meta">
        <span>{{event_start}}</span>
        <span>{{location}}</span>
        <span>{{author.username}}</span>
    </div>
    <p>{{description}}</p>
</div>
